@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* General Settings */
*{
  margin: 0;
  padding: 0;
  border: 0; 
 }
 /* https://getbootstrap.com/docs/4.0/examples/sticky-footer/sticky-footer.css */
html {
  position: relative;
  min-height: 100%;
}

 body {
  background-color: rgb(245, 245, 245); 
  font-family: 'Open Sans', sans-serif;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 100px;
}
/* separator div to make a clear demarcation between sections */
 .separator {
  height: 50px;
 }

 /* h1 style */
 .heading1 {
  text-align: center;
  letter-spacing: 2px;
 }
 /* About and Beginner sections */
 #section-about, #section-beginner, .instructions {
   margin-left: 2px;
   margin-right: 2px;
 }
.about-image-people {
  width: 60%;
}
.title-card {
  padding-bottom: 5px;
}
/*--------------------------------------------Map*/
div#map {
    min-height: 360px;
}

/* https://www.w3schools.com/howto/howto_js_autocomplete.asp */
* { box-sizing: border-box; }
body {
  font: 16px Arial;
  background-color: #00254d;
  color: #f1f1f1;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #003166;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #003166;
  color: #f1f1f1;
  /* width: 100%; */
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #808080;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #b0b0b0;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
/* end https://www.w3schools.com/howto/howto_js_autocomplete.asp */

/* Satellites Tracker */
ul#favobjects {
  list-style: none;
}
ul#favobjects li:hover {
  cursor: pointer;
  color: sandybrown;
}
/* images */

/* navbar */

.nav-item a {
  text-transform: uppercase;
}
.nav-link, .navbar-brand {
  color: #fff !important;
  letter-spacing: 2px;
}
.navbar-toggler {
  background-color: #fff;
}
.navbar-custom {
  background-color: rgb(0, 26, 53); 
}
.dropdown-menu-custom {
  background-color: rgb(0, 26, 53);
  width: 20rem;
}
/* Form1 style */
.input-form1 {
  width: 300px;
}
.form-buttons {
  background-color: #004a99;
  color: #fff;
}

/*Back to top button. Idea taken from: https://github.com/irinatu17/Holiday-Planner/blob/master/assets/css/style.css*/
.btt-button {
  position: fixed;
  height: 2.6rem;
  width: 2.6rem;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: .4rem;
  background-color: #fcfcfc;
  display: none;
  z-index: 999999999;
}

.btt-button:hover {
  background-color: #ebebebfd;
}

.btt-link{
  cursor: pointer;
}
/* Night sky image section */
/* idea taken from: https://github.com/irinatu17/Holiday-Planner/blob/master/assets/css/style.css */

.night-sky-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: url("../images/night-sky.jpg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 75vh;
}
/* Footer code taken from https://github.com/Code-Institute-Solutions/resume-miniproject-bootstrap4/blob/master/09-adding-footer-content/index.html */
/* https://getbootstrap.com/docs/4.0/examples/sticky-footer/sticky-footer.css */
footer {
  color: #fafafa;
  min-height: 120px;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.social-links {
  padding-bottom: 15px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 17px;
  line-height: 7px;
  text-align: center;
  color: #fafafa;
  background: #f5ecec;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
  background: #fafafa;
}

#footer-details {
  padding: 20px;
}

