/*--------------------------------------------Map*/
div#map {
    min-height: 360px;
}

/* https://www.w3schools.com/howto/howto_js_autocomplete.asp */
* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
/* end https://www.w3schools.com/howto/howto_js_autocomplete.asp */

/* Map Satellites Tracker */
ul#favobjects {
  list-style: none;
}
ul#favobjects li:hover {
  cursor: pointer;
  font-weight: 900;
}
.nav-item a {
  text-transform: uppercase;
}
.nav-link, .navbar-brand {
  color: #fff !important;
}
.navbar-custom {
  background-color: #256d91; 
}
.dropdown-menu-custom {
  background-color: #256d91;
  width: 20rem;
}
/*Back to top button. Idea taken from: https://github.com/irinatu17/Holiday-Planner/blob/master/assets/css/style.css*/
.btt-button {
  position: fixed;
  height: 2.6rem;
  width: 2.6rem;
  bottom: 0.5rem;
  right: 0.5rem;
  border-radius: .4rem;
  background-color: #fcfcfc;
  display: none;
  z-index: 999999999;
}

.btt-button:hover {
  background-color: #ebebebfd;
}

.btt-link{
  cursor: pointer;
}
/* Night sky image section */
/* idea taken from: https://github.com/irinatu17/Holiday-Planner/blob/master/assets/css/style.css */

.night-sky-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: url("../images/night-sky.jpg") no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 95vh;
}
